name: Build Docs Using Conda

on:
  push:
    branches:
      - master

  workflow_dispatch:


#   # schedule:
#   #  # * is a special character in YAML so you have to quote this string
#   #  - cron:  '*/0 * * * *' # run once a day


jobs:
  pyapprox_unit_tests:
    name: Setup Pyapprox dependencies with conda
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
#        os: [ubuntu-latest]
        python-version: [3.6]
        os: [ubuntu-latest, macos-10.14]
#        fenics is not available for windows so do not test
#        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Miniconda with Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: pyapprox-dev
        python-version: ${{ matrix.python-version }}
        channels: defaults,conda-forge
        environment-file: environment.yml
#        use-only-tar-bz2: true
        auto-update-conda: true
        auto-activate-base: false
    - name: Conda list
      shell: bash -l {0} # - l {0} is needed to activate created env
      run: |
        conda list
        conda env list
    - name: Setup PyApprox
      shell: bash -l {0}
      run: |
        pip install -e .
    - name: Setup PyApprox Documentation
      shell: bash -l {0}
      run: |
        pip install -e .[docs]
    - name: Create PyApprox Documentation
      shell: bash -l {0}
      run: |
        cd docs
        make html SPHINXOPTS=-vvv
      
      