name: Build and Test Using Pip

on:
  push:
    branches:
      - master

  workflow_dispatch:


#   # schedule:
#   #  # * is a special character in YAML so you have to quote this string
#   #  - cron:  '*/0 * * * *' # run once a day


jobs:
  pyapprox_unit_tests:
    name: Setup Pyapprox dependencies with pip
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
	    python-version: [3.7.16, 3.8, 3.9, 3.10, 3.11]
        # exclude:
        #  # stalls on github actions
        #  - os: ubuntu-latest
        #    python-version: 3.8

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Setup PyApprox
        run: |
          pip install -e .
      - name: Test PyApprox
        run: |
          pytest -s --cov-report term --cov=pyapprox
